.container-datatable table {
    border-collapse: collapse;
    width: 100%;
}
.container-datatable table td, #table th {
    border: 1px solid #ddd;
    padding: 6px;
}
.container-datatable table tr:nth-child(even){background-color: #f2f2f2;}

.container-datatable table tr:hover {background-color: #ddd;}

.container-datatable table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #2e6e9e;
    background-color: #dfeffc;
}

.container-datatable table .cellfullmarkunmark {
    width: 20px;
    text-align: center;
    vertical-align: middle;
}

.container-datatable tbody {
    display: none;
}

.container-datatable table th.centerColumn, table td.centerColumn {
    text-align: center;
}

.container-datatable a.container-datatable-table-icon {
    cursor: pointer;
    display: inline-block;
    padding: .4em 1em;
    border-radius: 3px;
}

.container-datatable table tr td div.actions {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.container-datatable-pg {
    display: none;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
}

.container-datatable-pg input {
    width: 50px;
    display: inline-block;
    padding: 7px 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container-datatable-pg a.btn {
    margin-left: 3px;margin-right: 3px;
    background: #7f8f99;
    background-image: -webkit-linear-gradient(top, #7f8f99, #29668c);
    background-image: -moz-linear-gradient(top, #7f8f99, #29668c);
    background-image: -ms-linear-gradient(top, #7f8f99, #29668c);
    background-image: -o-linear-gradient(top, #7f8f99, #29668c);
    background-image: linear-gradient(to bottom, #7f8f99, #29668c);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 5px 5px 5px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 2px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 3px 5px 3px 5px;
    border: solid #2e4d61 2px;
    text-decoration: none;
}
    
.container-datatable-pg a.btn:hover {
    background: #446f8a;
    text-decoration: none;
}